{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Zona</td>
			<td>Puesto</td>
			<td>Mesa</td>
			<td>Candidato</td>
			<td>Votos Preconteo</td>
			<td>Votos Escrutinio</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for votacion_list in object_list %}
		<tr>
			<td>{{ votacion_list.codigo.puesto.cod_zona}}</td>
			<td>{{ votacion_list.codigo.puesto.puesto_name}}</td>
			<td>{{ votacion_list.codigo.no_mesa}}</td>
			<td>{{ votacion_list.codigo.cod_candidato }}</td>
			<td>{{ votacion_list.votos }}</td>
			<td>{{ votacion_list.votos }}</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de votos</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}