{% extends 'base/base.html' %}
{% load mathfilters %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Cantidad MMVS Votos</td>
			<td>Cantidad Detalles Votos</td>
			<td>:Diferencia</td>
			<td>Puestos Divipol</td>
			<td>Puestos Detalle Voto</td>
			<td>:Diferencia</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{mmvs_all_count}}</td>
			<td>{{votodetalle_all_count}}</td>
			<td>{{mmvs_all_count|sub:votodetalle_all_count}}</td>
			<td>{{divipol_all_count}}</td>
			<td>{{votodetalle_count_puestos}}</td>
			<td>{{divipol_all_count|sub:votodetalle_count_puestos}}</td>
		<tr>
	</tbody>
</table>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Zona</td>
			<td>Puesto</td>
			<td>Maximo Votantes</td>
			<td>Vontantes Totales</td>
			<td rowspan="2">
				Votos Cantidatos
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Salitre</td>
			<td>14</td>
			<td>5000</td>
			<td>4900</td>
			<td>Claudia: 455</td>
			<td>Galan: 500</td>
		</tr>
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}